@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
.hi {
    display: flex;
    flex-direction: column;
      align-items: center;
      margin-top: 16%;
  }
  .hi h1 {
        color: #7796f2;
        font-family: 'Bungee Shade', cursive;
      font-size: 53.5px;
      text-transform: uppercase;
      margin: 0px;
      font-weight: lighter;
      margin-top: 64px;
  }
  

  .hi h2{
    color: #7796f2;
  }
  .pink{
    color:#ff9ef9;
  }